{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      <div id="banner">SCRC 2012 is SOLD OUT! Did you miss getting tickets? Still want to go an awesome Ruby conference that weekend? Go to Cascadia Ruby instead! <a href="http://cascadiaruby.com/">cascadiaruby.com</a> / <a href="https://twitter.com/cascadiaruby">@cascadiaruby</a>
      </div>
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
