<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<script>
jQuery(function($) {
  $('dt').hover(function() {
    var bio = $(this).next('dd').html();
    $('#mini-bio').html(bio);
  });

  $('.day-selector').click(function() {
    $('.day-selector').removeClass('active');
    $(this).addClass('active');
    var id = $(this).get(0).id;
    $('.day-schedule').hide();
    console.log("#day-" + id.split('-')[1]);
    $("#day-" + id.split('-')[1]).show();
    console.log($("#day-saturday"));
    return false;
  });

  $("<select />").prependTo("#mobile-nav");
  $("<option />", {
    "selected": "selected",
    "value"   : "",
    "text"    : "Go to..."
  }).appendTo("nav select");

  $("nav a").each(function() {
    var el = $(this);
    $("<option />", {
        "value"   : el.attr("href"),
        "text"    : el.children("span:first-child").text()
    }).appendTo("nav select");
  });

  $("nav select").change(function() {
    window.location = $(this).find("option:selected").val();
  });
 });
</script>
