<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<script>
jQuery(function($) {
  $('dt').hover(function() {
    var bio = $(this).next('dd').html();
    $('#mini-bio').html(bio);
  });
  
  $('.day-selector').click(function() {
    $('.day-selector').removeClass('active');
    $(this).addClass('active');
    var id = $(this).get(0).id;
    $('.day-schedule').hide();
    console.log("#day-" + id.split('-')[1]);
    $("#day-" + id.split('-')[1]).show();
    console.log($("#day-saturday"));
    return false;
  });
});
</script>
