<ul class="main-navigation">
  <li id="link-home" {% if page.body_id != "index" %}class="logo"{% endif %}><a href="{{ root_url }}/"><span>Home</span></a></li>
  <li id="link-conference"><a href="{{ root_url }}/conference"><span>The Conference</span></a></li>
  <li id="link-city"><a href="{{ root_url }}/city"><span>The City</span></a></li>
  <li id="link-sponsors"><a href="{{ root_url }}/sponsors"><span>The Sponsors</span></a></li>
  <li id="link-blog"><a href="{{ root_url }}/blog"><span>The Blog</span></a></li>
</ul>
<div id="mobile-nav">
  <img src="/images/scrc/header-logo.png" />
</div>
